.blog-list-place{
    .card-contain{
        position: relative;
        border-radius: 4px;
        img{
        width:100%;
        }
        .card-body{
           
            h5{
                font-weight: 700;
                line-height: 1.5;
                color:$sec-color;
            }
            .date{
                font-size: $text-title-size;
                font-weight: 500;
                color:$sec-color;
            }
            .mb-4{
                margin:16px 0;
                font-size: $text-title-size;
                font-weight: 500;
                color:$six-color;
            }
            a{
                font-size:$button-size;
                position: relative;
                display: inline-block;
                text-transform: uppercase;
                transition: all .15s ease;
                letter-spacing: 1px;
                color: $first-color;
                background-color: #5e72e4;
                border-color: #5e72e4;
                box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
                font-weight: 600;
                border: 1px solid transparent;
                padding: 10px 20px;
                line-height: 1.5;
                border-radius: 4px;
                &:hover{
                    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
                    transform: translateY(-1px);
                   
                }
               
            }
        }
    }
}